.header{
    display: grid;
    grid-template-columns: 0.5fr 10fr;
    grid-area: header;
    background-color: lightblue;

}
.header img{
    height: 60px;

}

.logoName {
    font-family: Magneto;
    align-self: center;
    font-size: 40px;
}



