.dialogs{
display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialog{
    margin-bottom: 10px;

}
.dialogsItems{
    padding: 10px;
}
.dialogsItems a{
    padding: 10px;
    color: black;
    text-decoration: none;
}
.dialogsItem a.active{
    background-color: #e5ebf1;


}
.dialogsItems a:hover{
    background-color: #e5ebf1;
    text-shadow: black 0 0 1px;

}
.messages{
    padding: 10px;

}
.message{

}